/* Computadora */
.imagenmckh {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
}

.hadesimg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.hadesimg img{
    margin-left: 100px;
}

.textinfo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 300px;
    margin-bottom: 200px;
}

.titulo1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding-bottom: 0;
    margin: 0;

}

ul{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 25px;
    gap: 2px;
    margin-right: 120px;
    margin-left: 45px;
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 10px;

}

p{
     font-size: 70px;
    padding-bottom: 0;
    margin: 0;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 40px;
}

.contacto1{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-right: 60px;
    
}
.contacto1 img{
    margin-left: 30px;
    margin-inline: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
     display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagenigwht1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;
}


a{
    text-decoration: none;
}


.tallas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 107px;
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 5px;
    }
.talla{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 60px;
    height: 40px;
    border: 2px solid black;
    border-radius: 999px;
    background: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
     margin: 0px;
}
.talla:hover{
     transform: scale(1.05);
    box-shadow: 0 0 20px gray;
}

.talla.seleccionada{
    background-color: black;
    color: white;
    border-color: black;
}
.btnWhatsapp{
 margin-left: 5px;   
 background: none;
 padding: 0px;
 border: white;
 cursor: pointer;
}

@media (max-width: 768px){
    .imagenmckh{
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 175px;
        margin-top: 40px;
    }
    .hadesimg{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    span{
        font-size: 18px;
        margin-right: 32px;
    }
    ul{
        font-size: 17px;
        margin: 0px;
        margin-right: 120px;
        margin-left: 15px;
        padding: 5px;
        margin-bottom: 5px;
    }
    p{
        font-size: 30px;
        margin-left: 60px;
        margin-right: 90px;
        margin-bottom: 7px;


    }
    .textinfo{
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 0px;
    }
    
    .titulo1{
         display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: 5px;
    }

    .contacto1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        margin-top: 5px
    }
    
    .hadesimg img{
        margin: 0px;
        height: 70%;
        width: 70%;
    }
    .talla{
        width: 40px;
        height: 30px;
        gap: 10px;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .tallas{
        margin-bottom: 5px;
        margin-left: 90px;
        margin-right: 110px;
    }
    
    .btnWhatsapp{
        height: 40px;
        width: 40px;

    }
        
    a{
        margin-top: 5px;
        height: 40px;
        width: 40px;
    }
    .contacto1{
        margin-right: 105px;
    }
    button{
        color: black;
        

}
